@media screen and (max-width: 991px) {
  .tabs-left .right-margin {
    border-left: 15px solid #f05523;
    margin-top: 0px;
    margin-left: -15px; } }

.img-bg {
  width: 100%;
  min-height: 568px;
  background: url(../images/ahihi.jpg) no-repeat;
  background-size: cover;
  overflow: hidden; }

.nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none; }

.nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.nav-tabs {
  float: right;
  overflow: hidden; }
  @media screen and (max-width: 991px) {
    .nav-tabs {
      width: 100%; } }

.right-margin {
  margin-left: 26px;
  margin-top: 67px; }
  @media screen and (max-width: 991px) {
    .right-margin {
      margin-top: 20px;
      margin-left: 0px; } }
  .right-margin button {
    display: none; }

.nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 0px 0 0 0px;
  -moz-border-radius: 0px 0 0 0px;
  border-radius: 0px 0 0px;
  color: #ffe2d8;
  font-family: 'UTMBebas';
  font-size: 24px; }

.nav-tabs {
  border-bottom: none;
  padding-top: 67px; }

.nav-tabs > li {
  float: none;
  width: 384px; }
  @media screen and (max-width: 991px) {
    .nav-tabs > li {
      width: 100%; } }

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent; }

.nav-tabs .active > a,
.nav-tabs .active > a:hover,
.nav-tabs .active > a:focus {
  border-top-color: transparent;
  border-right-color: transparent;
  color: #f05523;
  text-indent: 20px; }

.nav-tabs > li > a:hover {
  border-color: white; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: white; }

.tab-content-title h3 {
  color: #f05523;
  letter-spacing: 4.9px;
  font-family: 'UTMBebas', serif;
  font-size: 18px;
  margin: 0px; }

.tab-content-title h2 {
  font-family: 'UTMBebas', serif;
  font-size: 48px;
  margin-top: 10px; }

.tab-content-title .tab-content-border {
  border: 1px solid #f05523;
  width: 80px; }

.tab-content-description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 36px;
  line-height: 27px; }

.tab-content-info ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none; }
  .tab-content-info ul li {
    line-height: 29px; }
    .tab-content-info ul li a {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #4d95a1; }
      .tab-content-info ul li a:hover {
        text-decoration: none;
        color: #f05523; }
      .tab-content-info ul li a.active {
        color: #f05523; }
      .tab-content-info ul li a i {
        color: #f05523;
        margin-right: 10px; }
  @media screen and (max-width: 991px) {
    .tab-content-info ul {
      margin-bottom: 20px; } }

.tab-right-content button {
  opacity: 0; }
