#content2 .vk-accordion {
  margin-top: 61px; }
  #content2 .vk-accordion h4.vk-accordion-toggle {
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    margin: 0;
    padding: 20px 35px;
    position: relative;
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #222222; }
    #content2 .vk-accordion h4.vk-accordion-toggle.active:after {
      content: "\f068";
      position: absolute;
      left: 0;
      top: 22px;
      font-family: FontAwesome;
      color: #f05523; }
    #content2 .vk-accordion h4.vk-accordion-toggle.active:before {
      display: none; }
    #content2 .vk-accordion h4.vk-accordion-toggle:before {
      content: "\f067";
      position: absolute;
      left: 0;
      top: 20px;
      font-family: FontAwesome;
      color: #f05523; }
  #content2 .vk-accordion .vk-accordion-content {
    display: none; }
    #content2 .vk-accordion .vk-accordion-content p {
      font-family: 'Open Sans', serif;
      font-size: 14px;
      line-height: 26px;
      text-align: left;
      color: #7b7b7b;
      margin-top: 29px;
      padding-bottom: 27px;
      border-bottom: 1px solid #f0f0f0;
      padding-left: 35px; }
