#content4{
  .vk-course-4-hd-dk{
    .vk-course-4-hd-dk-line{
      width: 40px;
      height: 2px;
      background-color: #f05523;
      margin-bottom: 20px;
    }
    .vk-course-4-hd-dk-1{
      h3{

      }
      .vk-course-4-hd-dk-content{
        p{
          font-family: "Open Sans";
          font-size: 14px;
          line-height: 1.86;
          text-align: left;
          color: #7b7b7b;
          span{
            a{
              color: #f05523;
            }
          }
        }
      }
    }

    .vk-course-4-hd-dk-2{
      margin-top: 53px;
      .vk-course-4-hd-dk-content{
        p{
          font-family: "Open Sans";
          font-size: 14px;
          line-height: 1.86;
          text-align: left;
          color: #7b7b7b;
        }
      }
    }

    .vk-course-4-hd-dk-3{
      margin-top: 53px;
      .vk-course-4-hd-dk-content{
        p{
          font-family: "Open Sans";
          font-size: 14px;
          line-height: 1.86;
          text-align: left;
          color: #7b7b7b;
          span{
            a{
              color: #f05523;
              &:hover{
                color: #222222;
              }
            }
          }
        }
      }
    }

    .vk-course-4-hd-dk-4{
      margin-top: 53px;
      .vk-course-4-hd-dk-4-info{
        ul{
          padding: 0px;
          margin: 0px;
          li{
            list-style-type: none;

            h4{
              font-family: 'Open Sans', serif;
              font-size: 14px;
              line-height: 1.86;
              text-align: left;
              font-weight: bold;
              color: #222222;
              span{
                font-family: 'Open Sans', serif;
                font-size: 14px;
                line-height: 1.86;
                text-align: left;
                font-weight: bold;
                color: #f05523;
              }
            }
            p{
              font-family: 'Open Sans', serif;
              font-size: 14px;
              line-height: 1.86;
              text-align: left;
              color: #7b7b7b;
              a{
                color: #f05523;
              }
              span{
                color: #f05523;
                a{
                  &:hover{
                    color: #222222;
                  }
                }
              }
            }
          }
        }
      }
    }

    .vk-course-4-hd-dk-5{
      margin-top: 53px;
      .vk-course-4-hd-dk-5-one{
        ul{
          margin: 0px;
          padding: 0px;
          li{
            list-style-type: none;
            p{
              font-family: 'Open Sans', serif;
              font-size: 14px;
              line-height: 1.86;
              text-align: left;
              color: #7b7b7b;
            }
            h4{
              font-family: 'Open Sans', serif;
              font-size: 14px;
              line-height: 1.86;
              text-align: left;
              color: #7b7b7b;
              font-weight: bold;
              color: #222222;
            }
          }
        }
      }
      .vk-course-4-hd-dk-5-two{
        margin-top: 30px;
        ul{
          margin: 0px;
          padding: 0px;
          li{
            list-style-type: none;
            p{
              font-family: 'Open Sans', serif;
              font-size: 14px;
              line-height: 1.86;
              text-align: left;
              color: #7b7b7b;
            }
            h4{
              font-family: 'Open Sans', serif;
              font-size: 14px;
              line-height: 1.86;
              text-align: left;
              color: #7b7b7b;
              font-weight: bold;
              color: #222222;
            }
          }
        }
      }
    }
  }
}