.vk-single-blog-right{
  margin-top: 80px;
  @media screen and (max-width: 767px) {
    margin-top: 45px;
  }
  .vk-single-blog-right-img{
    img{
      width: 100%;
      height: auto;
    }
  }
  .vk-single-blog-right-title{
    margin-top: 30px;
    margin-bottom: 26px;
    h2{
      font-family: 'UTMBebas', serif;
      font-size: 30px;
      line-height: 0.87;
      text-align: left;
      color: #222222;
      @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 26px;
      }
    }
  }
  .vk-single-blog-right-info{
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 30px;
    padding-top: 13px;
    padding-bottom: 14px;
    ul{
      margin: 0px;
      padding: 0px;
      li{
        list-style-type: none;
        display: inline-block;
        margin-right: 30px;
        font-family: 'Open Sans', serif;
        font-size: 14px;
        font-style: italic;
        line-height: 1.86;
        text-align: left;
        color: #7b7b7b;
        @media screen and (max-width: 767px) {
          margin-right: 24px;
        }
        .fa{
          font-family: FontAwesome;
          font-size: 16px;
          font-style: normal;
          line-height: 1.63;
          color: #f05523;
          margin-right: 10px;
        }
        a{
          color: #7b7b7b;
          &:hover{
            text-decoration: none;
            color: #f05523;
          }
        }
      }
    }
  }
  .vk-single-blog-right-text{
    p{
      font-family: 'Open Sans', serif;
      font-size: 14px;
      line-height: 1.86;
      text-align: left;
      color: #7b7b7b;
      span{
        color: #f05523;
        margin-right: 10px;
      }
    }
    .vk-single-blog-quote{
      blockquote{
        border-left: none;
        &.quote-card{
          position: relative;
          padding-left: 71px;
          border-top: 1px solid #f05523;
          background: #f9f9f9;
          &:before{
            font-family: 'UTMBebas', serif;
            content: "“";
            position: absolute;
            top: -33px;
            left: 15px;
            font-size: 120px;
            color: #ff774b;
            font-weight: normal;
          }
        }
        h4{
          font-family: 'Open Sans', serif;
          font-size: 16px;
          font-style: italic;
          line-height: 1.88;
          text-align: left;
          color: #222222;
        }
        h3{
          font-family: 'Open Sans', serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.63;
          text-align: left;
          color: #222222;
        }
      }
    }
  }
  .vk-single-blog-share{
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    margin-top: 37px;
    margin-bottom: 76px;
    .vk-single-blog-share-left{
      ul{
        margin: 0px;
        padding: 0px;
        li{
          list-style-type: none;
          display: inline-block;
          border: 1px solid #e9e9e9;
          padding: 5px 15px;
          a{
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.86;
            text-align: center;
            color: #aeaeae;
            text-decoration: none;
            &:hover{
              color: #f05523;
            }
          }

        }
      }
    }
    .vk-single-blog-share-right{
      position: absolute;
      right: -36px;
      @media screen and (max-width: 767px){
        width:100%;
        right: 0px;
        margin-top: 15px;
      }
      ul{
        margin: 0px;
        padding: 0px;
        li{
          list-style-type: none;
          display: inline-block;
          position: relative;
          width: 36px;
          height: 36px;
          border-radius: 3px;
          background-color: #f4f4f4;
          transition: all 0.5s;
          &:first-child{
           border:none;
            width: 20%;
            background: none;
          }

          a{
            text-decoration: none;
            .fa{
              font-family: FontAwesome;
              font-size: 14px;
              line-height: 1.86;
              text-align: center;
              color: #aeaeae;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
            }
          }
          span{
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: bold;
            line-height: 2.17;
            text-align: right;
            color: #7b7b7b;
            position: absolute;
          }
          &:nth-child(2){
            &:hover{
              background: #3b5998;
              transition: all 0.5s;
              a{
                .fa{
                  color: white !important;
                }
              }
            }
          }
          &:nth-child(3){
            &:hover{
              background: #2caae1;
              transition: all 0.5s;
              a{
                .fa{
                  color: white !important;
                }
              }
            }
          }
          &:nth-child(4){
            &:hover{
              background: #dc4a38;
              transition: all 0.5s;
              a{
                .fa{
                  color: white !important;
                }
              }
            }
          }
          &:nth-child(5){
            &:hover{
              background: #007bb6;
              transition: all 0.5s;
              a{
                .fa{
                  color: white !important;
                }
              }
            }
          }
          &:nth-child(6){
            &:hover{
              background: #e2271a;
              transition: all 0.5s;
              a{
                .fa{
                  color: white !important;
                }
              }
            }
          }

        }
      }
    }
  }
  .vk-single-blog-comment{
    h3{
      font-family: 'UTMBebas', serif;
      font-size: 24px;
      line-height: 1.08;
      text-align: left;
      color: #222222;
    }
    .vk-single-blog-comment-line{
      border-top: 2px solid #222222;
      margin-bottom: 40px;
    }
    ul{
      list-style-type: none;
      padding: 0px;
      li{
        .vk-comment-main-level{
          .vk-comment-avatar{
            position: relative;
            float: left;
            margin-right: 20px;
          }
          .vk-comment-box{
            padding-left: 120px;
            .vk-comment-head{
              h6{
                margin: 0px;
                a{
                  font-family: 'Open Sans', serif;
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 1.63;
                  text-align: left;
                  color: #f05523;
                  text-decoration: none;
                }
                span{
                  font-family: 'Open Sans', serif;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 1.86;
                  color: #aeaeae;
                }
              }
            }
            .vk-comment-content{
              margin-top: 20px;
              margin-bottom: 16px;
              p{
                font-family: 'Open Sans', serif;
                font-size: 14px;
                line-height: 1.71;
                text-align: left;
                color: #7b7b7b;
              }
            }
            .vk-comment-days{
              margin-bottom: 27px;
              ul{
                li{
                  display: inline-block;
                  font-family: "Open Sans";
                  font-size: 14px;
                  font-style: italic;
                  line-height: 1.86;
                  text-align: left;
                  color: #bbbbbb;
                  a{
                    color: #f05523;
                    text-decoration: none;
                    &:hover{
                      color: #222222;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .vk-reply-list{
        padding-left: 120px;
        @media screen and (max-width: 767px) {
          padding-left: 0px;
        }
        li{
          .vk-comment-avatar{
            position: relative;
            float: left;
            margin-right: 20px;
          }
          .vk-comment-box{
            padding-left: 100px;
            .vk-comment-head{
              h6{
                margin: 0px;
                a{
                  font-family: 'Open Sans', serif;
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 1.63;
                  text-align: left;
                  color: #f05523;
                  text-decoration: none;
                }

                span{
                  font-family: 'Open Sans', serif;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 1.86;
                  color: #aeaeae;
                }
              }
            }
            .vk-comment-content{
              margin-top: 20px;
              margin-bottom: 16px;
              p{
                font-family: 'Open Sans', serif;
                font-size: 14px;
                line-height: 1.71;
                text-align: left;
                color: #7b7b7b;
              }
            }
            .vk-comment-days{
              margin-bottom: 27px;
              ul{
                li{
                  display: inline-block;
                  font-family: "Open Sans";
                  font-size: 14px;
                  font-style: italic;
                  line-height: 1.86;
                  text-align: left;
                  color: #bbbbbb;
                  a{
                    color: #f05523;
                    text-decoration: none;
                    &:hover{
                      color: #222222;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .vk-single-blog-leave-a-comment{
    margin-top: 80px;
    margin-bottom: 80px;
    h3{
      font-family: 'UTMBebas', serif;
      font-size: 24px;
      line-height: 1.08;
      text-align: left;
      color: #222222;
    }
    .vk-single-blog-line{
      border-top: 2px solid #222222;
      margin-bottom: 40px;
    }
    .vk-single-blog-form{
      form{
        input{
          width:100%;
          min-height: 44px;
          overflow: hidden;
          border-radius: 3px;
          border: solid 1px #eaeaea;
        }
        textarea{
          width:100%;
          min-height: 160px;
        }
        .form-control{
          border: 1px solid #eaeaea;
        }
        .form-group{
          margin-bottom: 30px;
          #firstName{
            margin-bottom: 30px;
          }
        }
        .btn{
          border-radius: 0px;
          padding: 12px;
          font-family: 'UTMBebas', serif;
          font-size: 24px;
          line-height: 1.08;
          text-align: center;
          color: #ffffff;
          background: #f05523;
          border: 1px solid #f05523;
          transition: all 0.5s ease-in-out;
          &:hover{
            background: white;
            border: 1px solid #f05523;
            color: #f05523;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}